<div>
  <p>
    Now playing <strong *ngIf="nawPlaying">{{nawPlaying.title}}</strong>
  </p>
  <button class="btn btn-primary" (click)="play()"><span class="glyphicon glyphicon-play"></span></button>
  <button class="btn btn-primary" (click)="pause()"><span class="glyphicon glyphicon-pause"></span></button>
  <button class="btn btn-primary" (click)="stop"><span class="glyphicon glyphicon-stop"></span></button>
  <button class="btn btn-primary" (click)="fastRewind()"><span class="glyphicon glyphicon-backward"></span></button>
  <button class="btn btn-primary" (click)="fastForward()"><span class="glyphicon glyphicon-forward"></span></button>
</div>