<div class="box">
  <div  style="padding: 0px">
    <ol class="breadcrumb title">
      <li *ngFor="let subt of movie.titles; let i=index" class="breadcrumb-item"><span [class.title-bold]="i==0">{{subt.name}}</span></li>
      <div class="box-tools pull-right">
        <!-- Collapse Button -->
        <button type="button" id="btn-collapse" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>                
    </ol>
    
    <!-- /.box-tools -->
  </div>
  
  <div class="box-body" style="display: block;">
    <ol class="breadcrumb genre">
      <li *ngFor="let category of movie.categories" class="breadcrumb-item"><strong>{{category.name}}</strong></li>                
    </ol>
    <div style="float: left; padding: 20px" >
            <img src="http://img.csfd.cz/files/images/film/posters/160/654/160654904_0227f8.jpg" width="100">
    </div>
    {{movie.description}}
  </div>
  <!-- /.box-body -->
  <div class="box-footer">
    <button class="btn btn-primary">Detail</button>
    <button class="btn btn-success">Spusti</button>
    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Check this custom checkbox</span>
    </label>
  </div>
  <!-- box-footer -->
</div>
<!-- /.box -->
  