/* You can add global styles to this file, and also import other style files */
@import 'http://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

table {
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    border-collapse: collapse;
    border-radius: 2px;
    border-spacing: 0;
    margin: 0 0 32px;
    width: 100%;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    color: rgba(0,0,0,.54);
}

table tbody tr:hover {
    background-color: rgba(63, 81, 181, 0.03)
}

th {
    font-size: 16px;
    font-weight: 400;
    padding: 13px 32px;
    text-align: left;
    background: rgba(0,0,0,.03);
}

td, th {
    display: table-cell;
    vertical-align: inherit;
    font-family: Roboto,Helvetica Neue,sans-serif;
    color: rgba(0,0,0,.54);
   
}

td {
    color: rgba(0,0,0,.54);
    border: 1px solid rgba(0,0,0,.03);
    font-weight: 400;
    padding: 8px 30px;
}

.node-content-wrapper, .tree-children {
  position: relative;
}

.node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}

.node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  width: 25px;
}

.tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}

treenode:last-child > .tree-node > .tree-children::after {
  border-left: none;
}

.toggle-children {
  z-index: 1;
}